[Unit]
Description=Kaonic Comm
After=network.target

[Service]
ExecStart=/usr/bin/kaonic-commd
Restart=always
RestartSec=5
User=root
Group=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

